{% extends "base.html" %} {% block content %} {% load static %}

<div class="author  d-lg-flex mt-50" id="about-section">
    <div class="text">
        <h1 class="text-white serif text-uppercase mb-4">Meet the Best Book of the Week</h1>
        <p class="text-white mb-5">{{best_book.book.title}}</p>
        <p><a href="#" class="btn btn-white px-4 py-3 " style="margin-left: 110px;">Buy This Book Now</a></p>
    </div>
    <div class="mt-5">
        <img src="{{best_book.book.image.url}}" alt="Image" class="img-fluid" style="height: 300px;margin-left:90px;">

    </div>
</div>


<div class="site-section bg-light" id="features-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-7">
                <h2 class="heading">Some of Our Books</h2>
            </div>
        </div>



        <div class="row">
            {% for book in books %}
            <a href="{% url 'Books:books_detail' book.slug %} ">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service h-100">
                        <div class="">
                            <!-- <span class="icon-book"></span> -->
                            <img class="cardBookImage" src="{{book.image.url}} " alt="" style=" height: 110px; width: 91px;margin-left: 141px;">
                        </div>
                        <a href="{% url 'Books:books_detail' book.slug %} ">
                            <h3 style="margin-top: 19px;">{{book.title}}</h3>
                        </a>
                        <hr>
                        <p class="card-text">Author: <a href="{{ book.author }}">{{ book.author }}</a>
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
            <hr>

            <!-- <div class="col-md-6 col-lg-4 mb-4">
                <div class="service h-100">
                    <span class="wrap-icon">
                        <span class="icon-bookmark"></span>
                    </span>
                    <h3>Paper Back</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service h-100">
                    <span class="wrap-icon">
                        <span class="icon-files-o"></span>
                    </span>
                    <h3>Paper Back</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service h-100">
                    <span class="wrap-icon">
                        <span class="icon-font"></span>
                    </span>
                    <h3>Big Text</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.
                    </p>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service h-100">
                    <span class="wrap-icon">
                        <span class="icon-photo"></span>
                    </span>
                    <h3>Images</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="service h-100">
                    <span class="wrap-icon">
                        <span class="icon-text-height"></span>
                    </span>
                    <h3>Readable Text</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.
                    </p>
                </div>
            </div> -->

        </div>
        <a href="{% url 'Books:books_list' %} " class="btn btn-success btn-lg btn-block "><span class="wrap-icon">
                <i class="fa fa-book"></i> More Books</a>
    </div>
</div>





<div class="site-section bg-light" id="testimonial-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="heading">Testimonial From Readers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial bg-white h-100">
                    <blockquote class="mb-3">
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                    </blockquote>
                    <div class="d-flex align-items-center vcard">
                        <figure class="mb-0 mr-3">
                            <img src="{% static 'images/person_3.jpg'%}" alt="Free website template by Free-Template.co" class="img-fluid ounded-circle">
                        </figure>
                        <div class="vcard-text">
                            <span class="d-block">Jacob Spencer</span>
                            <span class="position">Web Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial bg-white h-100">
                    <blockquote class="mb-3">
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                    </blockquote>
                    <div class="d-flex align-items-center vcard">
                        <figure class="mb-0 mr-3">
                            <img src="{% static 'images/person_1.jpg'%}" alt="Free website template by Free-Template.co" class="img-fluid ounded-circle">
                        </figure>
                        <div class="vcard-text">
                            <span class="d-block">David Shaun</span>
                            <span class="position">Web Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial bg-white h-100">
                    <blockquote class="mb-3">
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                    </blockquote>
                    <div class="d-flex align-items-center vcard">
                        <figure class="mb-0 mr-3">
                            <img src="{% static 'images/person_2.jpg'%}" alt="Free website template by Free-Template.co" class="img-fluid ounded-circle">
                        </figure>
                        <div class="vcard-text">
                            <span class="d-block">Craig Smith</span>
                            <span class="position">Web Designer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section py-5 bg-primary">
    <div class="container">
        <h3 class="text-white h4 mb-3 ml-3">Subscribe For The New Updates</h3>
        <div class="d-flex">
            <input type="text" class="form-control mr-4 px-4" placeholder="Enter your email address...">
            <input type="submit" class="btn btn-white px-4" value="Send Email">
        </div>
    </div>
</div>


{% endblock content %}